window {
  margin: 0;
  border: none;
  background: #050505;
  border-radius: 8px;
  border: 0.1px solid white;
}

#input {
  margin: 5px;
  border: none;
  color: white;
  background-color: #202020;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #050505;
}

#outer-box {
  margin: 5px;
  background: #050505;
}

#text {
  margin: 5px;
  border: none;
  color: #757575;
} 

#entry:selected {
  background: #151515;
}
